@{
    ViewData["Title"] = "Exam";
}

@using OnlineExam.Model;
@model ICollection<Exam>

@{
    ViewData["Title"] = "Exam";
}

<h3>Exam</h3>

<div class="row col-md-12">
    <div class="col-md-2 form-control">Exam ID</div>
    <div class="col-md-3 form-control">Exam Name</div>
    <div class="col-md-3 form-control">Created Date</div>
    <div class="col-md-2 form-control">Take the Exam</div>
    <div class="col-md-2 form-control">Delete the Exam</div>
</div>
<br />

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{

    @foreach (var item in Model)
    {

        <div class="row col-md-12">

            <div class="col-md-2 form-control">@item.ExamID</div>
            <div class="col-md-3 form-control overflow-auto">@item.ExamName</div>
            <div class="col-md-3 form-control">@item.CreatedDate</div>
            <input name="take" class="form-control btn btn-success col-md-2" style="color:transparent" type="submit" formaction="/Home/TakeExam" value="@item.ExamID">
            <input name="delete" class="form-control btn btn-danger col-md-2" style="color:transparent" type="submit" value=@item.ExamID />

        </div>
        <br />

    }
}

<script>

</script>
